.modal-dialog {
    max-width: 1198px;
}

.modal-header {
    align-items: center;
    padding: 0 1rem;
}

.modal-header .close {
    margin: unset;
}

.modal-body {
    display: flex;
}

.modal-title {
    font-size: 1.5vw;
}

.modal-content {
    direction: rtl;
    font-size: 1vw;
}

.modal-footer {
    justify-content: flex-start;
    border-top: unset;
}

.modal-footer>:not(:last-child) {
    margin-left: .25rem;
}

.modal-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 2% 10%;
}

.modal-group > label {
    text-align: right;
    max-width: 120px;
}

.modal-open .modal {
    overflow-y: hidden;
}

.large-input {
    width: 353px;
}

.modal-dialog {
    max-width: 890px;
}