.modal-dialog {
    max-width: 1198px;

    .modal-content{
        direction: rtl;
        font-size: 1vw;

        .modal-header {
            align-items: center;
            padding: 0 1rem;
    
            .close {
                margin: unset; 
            }

            .modal-title {
                font-size: 1.5vw;
            }
        }
    
        .modal-body {
            display: flex;

            .validation-label {
                text-align: left;
                margin-left: 10%;
                color: red;
                font-weight: bold;
            }

        }

        .modal-footer {
            justify-content: flex-start;
            border-top: unset;

            :not(:last-child) {
                margin-left: .25rem;
            }
        }
    }

}

@media(max-width: 1679px) {
    .modal-dialog {
        max-width: 890px;
    }
  }
