.operators-container {
  padding: 30px 30px 0 30px;
  background-color: #ececec;

  .table {
    direction: rtl;
    border: 2px solid #dee2e6;
    background-color: #fff;
    margin: unset;

    th {
      border-left: 2px solid #cccccc; 
      text-align: center;
    }

    td, th {
      padding: 1rem;
      text-align: right;
      color: #6c758c;
      font-weight: normal;
      font-size: 1vw;
      height: 55px;
      text-align: center;
    }

    td {
      .option-container {
        display: flex;
        align-items: center;

        .option {
          height: 10px;
          width: 10px;
          border-radius: 50%;
          margin-top: 4px;

          &.option-on {
            background-color: #00b487;
          }
          
          &.option-off {
            background-color: #e10037;
          }
        }
      }

      &.arrow {
        cursor: pointer;
        position: relative;
      }
    }

    tr {
      .table-row {
        height: 36px;
        transition: height 0.25s ease-out;
      }
    }

    thead {
      tr {
        background-color: #d7d7d7;
      }
    }
  }
}

@media(min-width: 1500px) {
  tr.open {
    height: 27vw;
    transition: height 0.25s ease-in;
  }
}

@media(max-width: 1500px) {
  tr.open {
    height: 30vw;
  }
}

@media(max-width: 1300px) {
  tr.open {
    height: 32vw;
  }
}

