.search-container {
    padding: 0 30px;

    .operator-filter {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 15px 0 22px 0;

        input {
            text-align: right;
            padding-right: 5px;
            width: 31%;
            color: #cfd5db;
            border-radius: 5px;
            border: 1.5px solid #cfd5db;
        }

        .btn {
            margin: 5px;
            border-radius: 3.25rem;
            border: unset;
            font-size: 1vw;
        }

        .btn-secondary {
            background-color: #46B7D3;

            &:hover {
                background-color: #2f798b;
            }
        }
    }
}
