.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h3 {
  font-size: 1.5vw;
}

.pagination-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border: 2px solid #e6e6e6;
  height: 60px;
}

.middle-section {
  display: flex;
  justify-content: space-around;
  height: 55px;
  align-items: center;
}

.pagination-container > .btn-secondary {
  background-color: #f2f3f3;
  color: #c2c2c2;
  margin: 5px;
  border: unset;
  font-size: 1vw;
}

.pagination-container > .btn-secondary:hover {
  color: #fff;
  background-color: #5a62686b;
}

.pagination-container > .btn-secondary:focus {
  box-shadow: unset;
}

.page-section {
  justify-content: space-around;
  margin-bottom: unset;
  align-items: center;
  color: #6c757e;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  font-size: 1vw;
}

.page-section > label {
  margin-bottom: unset;
}

.dropdown > button {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  color: #6c757e;
}

.dropdown-toggle {
  width: 136px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1vw;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
  color: #fff;
  background-color: #5a62686b;
  border: unset;
  width: 136px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: unset;
}

.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: unset;
  background-color: #5a62686b;
}

.dropdown-toggle::before {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.dropdown-toggle::after {
  display: none;
}
